@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(./fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url(./fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"), url(./fonts/Gilroy-Light.ttf) format("truetype");
}

.header_label {
  text-align: left;
  font-size: 0.75rem;
  font-family: "Gilroy-Bold", sans-serif;
  font-style: normal;
  color: #a29c9c;
  opacity: 1;
}
.subHeader_label {
  text-align: left;
  font-size: 0.75rem;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  color: #a29c9c;
  opacity: 1;
}
.text_label {
  text-align: left;
  font-size: 0.75rem;
  font-family: "Gilroy-Light", sans-serif;
  font-style: normal;
  color: #a29c9c;
  opacity: 1;
}



/* src/components/FeaturesDetails.css */
.right img {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.right.visible img {
  opacity: 1;
  transform: translateX(0);
}

@keyframes riseUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

